* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: rgb(229, 229, 229);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 380px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.header {
  padding: 20px 0px 0px 0px;
  /* background-color: #f8f8f8;
  border-bottom: 2px solid #ccc; */
}

.header h1 {
  font-size: 24px;
  margin: 10px 0;
  font-weight: bold;
}

.header p {
  margin: 5px 0;
  font-size: 16px;
}

.body {
  padding: 4px 0px 25px 0px;
}

.info, .details, .price {
  margin-bottom: 0px;
  padding: 5px; 
}

.details table {
  width: 100%;
  border-collapse: collapse;
}

.details th, .details td {
  border: 1px solid #ccc;
  padding: 10px;
}

.footer {
  padding: 20px;
  font-weight: 600;
}

.button button {
  background: rgb(88, 88, 88);
  width: 4rem;
  height: 1.5rem;
  margin: 1.2rem 1rem;
  border: none;
  border-radius: 10px;
}

.button button a {
  color: #f3f3f3;
  text-decoration: none;
}

.button-two {
  display: flex;
}

@media print {
  .button-two {
      display: none;
  }
  .container-print {
      border: 1px solid black;
  }
}

.price {
  width: 100%; 
  padding: 10px; 
  font-family: 'Courier New', Courier, monospace; 
 
}

.price p {
  display: flex;
  justify-content: space-between; 
  margin: 5px 0;  
}

.label {
  font-weight: bold; 
}

.value {
  text-align: right; 
}
